<div class='container text-center'>
    <div class="title">
        <h1>Eat-Da-Burger
        <i class="em em-hamburger" aria-role="presentation" aria-label="HAMBURGER"></i>
        </h1>
    </div>
    <div class="row justify-content-around">
        <div class="display_burger col-4">
            {{#each burger}}
            {{#unless devoured}}
                <p class="burger_list alert alert-warning">
                    {{this.id}} {{this.burger_name}}
                    <button class="devour_btn btn btn-sm btn-secondary" data-id="{{this.id}}">Devour it!</button>
                </p>
            {{/unless}}
            {{/each}}
        </div>
        <div class="display_devour col-4">
            {{#each burger}}
                {{#if devoured}}
                    <p class="devour_list alert alert-secondary">
                        {{this.id}} {{this.burger_name}}
                        <button class="delete_btn btn btn-sm btn-danger" data-id="{{this.id}}">Delete</button>
                    </p>
                {{/if}}
            {{/each}}
        </div>
    </div>

    <form>
        <div class="submit">
            <input class="burgerInput" type="text">
            <button type="submit" class="submit btn-primary">submit</button>
        </div>
        <p>Enter a burger you want to eat Click the "Submit" button</p>
    </form>
</div>